body{
	background-image: url(../img/background.gif);
	background-repeat: no-repeat;
	background:  opacity:0.6;
}
.form{
	
	position: fixed;
	left: 300px;
	top: 800px;
}
.form input {
	font: 25px "宋体";
	border: 0;
	width: 400px;
	height: 50px;
	background: transparent;
}
.form button{
	width: 250px;
	height: 90px;
	font: 35px "宋体";
	background: transparent; /*背景透明*/
    border: 2px solid rgba(255,255,255,0.3); /*边框半透明*/
    box-shadow: inset 0 0 4px rgba(255,255,255,0.2),0 0 4px rgba(255,255,255,0.2);  /*内外渐变阴影*/
	background: transparent;
	color: white;
    padding:10px;
    cursor:pointer;
	position: fixed;
	left: 380px;
	margin-top: 100px;
} 
.bottonre{
	width: 250px;
	height: 90px;
	font: 35px "宋体";
	background: transparent; /*背景透明*/
	border: 2px solid rgba(255,255,255,0.3); /*边框半透明*/
	box-shadow: inset 0 0 4px rgba(255,255,255,0.2),0 0 4px rgba(255,255,255,0.2);  /*内外渐变阴影*/
	background: transparent;
	color: white;
	padding:10px;
	cursor:pointer;
	position: fixed;
	left: 380px;
	margin-top: 100px;
}
.reg{
	font-size: 30px;
	color: white;
	position: fixed;
	left: 750px;
	margin-top: 200px;
} 
.log{
	font-size: 30px;
	color: white;
	position: fixed;
	left: 735px;
	margin-top: 200px;
} 