
.nav{
	list-style: none;background-color: coral;width: 1000px;margin: 50px auto ;overflow: hidden;
	}
.nav li{
	float: left;
}
.nav a{
	display: block;
	width: 250px;
	text-align: center;
	padding: 6px 0;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 22px;
}
.nav a:hover{
	background-color: peru;
}
.ingredients{
	weight: 100px;
	height: 100px;
	background-color: aquamarine;
}